@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

button:not(:disabled) {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ebeef3;
  min-height: 100vh;
}
